<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-09-20T16:36:09Z</date>
	<key>WorkspacePath</key>
	<string>/Users/rolson/Developments/Swift/Crazy8s/Crazy8s.xcodeproj</string>
</dict>
</plist>
